    body { font-family: Arial, sans-serif; max-width: 900px; margin: 20px auto; line-height: 1.5; }
    button, input { margin: 5px; padding: 5px 10px; }
    .tab { display: inline-block; padding: 10px; cursor: pointer; background: #eee; margin-right: 2px; }
    .active { background: #ccc; }
    pre { text-align: left; margin: 10px 0; padding: 10px; background: #f4f4f4; overflow-x: auto; }
    .section { margin-bottom: 25px; }
    h1, h2{ text-align: left; margin-bottom: 10px; color:#1f77b}
    h3 { text-align: left; margin-bottom: 10px;}


table { width: 100%; border-collapse: collapse; font-size: 0.85em; line-height: 1.2em; }
th, td { border: 1px solid #ddd; padding: 0.5em; text-align: center; }
th { background: #f0f0f0; }
td.updated { color: #e74c3c; font-weight: bold; }

object {
    display: block;     /* ensures object behaves like a block-level element */
    border: none;       /* removes default borders */
    margin: 0em;          /* removes default margins */
    padding: 0;         /* removes default padding */
    background: white;  /* explicitly set a background to override inheritance */
  }
  
.controls { margin-bottom: 1em; display: flex; gap: 1em; align-items: center; }


/* For code display? */
.tabs {  overflow: hidden;  background-color: #eaeaea;  display: inline-flex;  border-radius: 5px 5px 0 0;}
.tabs button {  ackground-color: inherit; padding: 8px 12px; cursor: pointer; transition: background-color 0.3s ease; 
    color: #333; border: none; outline: none; font-size: 14px;}
.tabs button:hover, .tabs button.active {  background-color: #d4d4d4;}
.code-container {  background-color: white; padding: 15px;  border-radius: 0 5px 5px 5px; border: 1px solid #ccc; overflow-x: auto;}

 