<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/DAIADS/scripts/content-page-routing.js"></script>
  <meta charset="UTF-8">
  <title>ALGORITHM NAME Demo</title>  
  <script src="/DAIADS/scripts/demoScripts.js"></script>
  <link rel="stylesheet" href="/DAIADS/css/style.css">
  <link rel="stylesheet" href="/DAIADS/css/demo.css">
</head>
<body class="no-tooltips">
<div id="demoContainer">
<h2>ALGORITHM NAME Demo</h2>

INSERT DEMO ELEMENTS HERE

<script>
INSERT Javascript code here.
</script>
</div>
</body>
</html>
