<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ALGORITHM NAME Demo</title>  
  <script src="/Algorithms/scripts/demoScripts.js"></script>
  <link rel="stylesheet" href="/Algorithms/css/style.css">
  <link rel="stylesheet" href="/Algorithms/css/demo.css">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DQ5LVZVFDC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DQ5LVZVFDC');
</script>
</head>
<body class="no-tooltips">
<div id="demoContainer">
<h2>ALGORITHM NAME Demo</h2>

INSERT DEMO ELEMENTS HERE

<script>
INSERT Javascript code here.
</script>
</div>
</body>
</html>
