
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Problem Name</title>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <link rel="stylesheet" href="/Algorithms/css/style.css">
  <link rel="stylesheet" href="/Algorithms/css/problem.css">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DQ5LVZVFDC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DQ5LVZVFDC');
</script>
</head>
    <h1>Problem Name</h1>

    <section>
      <h2>Problem Description</h2>
	  <p>A description of the problem. Give details.</p>
      <h3>Input</h3>
      <p>
        Describe the input: what is given to solve the problem? Be specific about types, formats, constraints.
      </p>

      <h3>Output</h3>
      <p>
        Describe the expected output or goal clearly. What should the solution produce or verify?
      </p>
    </section>

    <section>
      <h2>Motivation/Applications</h2>
      <p>
        A short paragraph on why this problem matters. Include real-world or theoretical relevance.
      </p>
    </section>

     <section>
      <h2>Examples</h2>
    <div class="example-box">
	<strong class="example-title">Example 1</strong><br>
		Example 1 details
    </div>
    <br>
    <div class="example-box"><br>
        <strong class="example-title">Example 2</strong> <br>
		Example 2 details
    </div>
    </section>

    <section>
      <h2>Common Algorithms/Techniques</h2>
      <ul>
        <li>Algorithm 1</li>
        <li>Algorithm 2</li>
        <li>Algorithm 3</li>
      </ul>
    </section>

    <section>
      <h2>Variants/Related Problems</h2>
      <ul>
        <li>Variant 1</li>
        <li>Variant 2</li>
      </ul>
    </section>
</body>
</html>
